asttokens
backcall
colorama
comm
contourpy
cycler
debugpy
decorator
exceptiongroup
executing
fonttools
imageio
ipykernel
ipython
jedi
kiwisolver
lazy_loader
nest-asyncio
networkx
numpy
opencv-python
packaging
parso
pickleshare
Pillow
platformdirs
prompt-toolkit
psutil
pure-eval
Pygments
pylfsr
pyparsing
python-dateutil
pypiwin32
pyzmq
scikit-image
scipy
six
stack-data
tifffile
tornado
traitlets
wcwidth
Flask
flask
